:root {
    --mcginnis: #295A9D;
    --paige: #939E30;
    --wraith: #8D2C7A;
    --dyanmo: #798BA9;
    --haze: #B36635;
    --ivy: #753B2A;
    --victor: #8C8B82;
    --mo-and-krill: #634F44;
    --warden: #4B5467;
    --calico: #F0D870;
    --seven: #F4E80B;
    --abrams: #43A0B3;
    --drifter: #a81010;
    --kelvin: #C76F58;
    --lady-geist: #1ac78d;
    --yamato: #8E7BAA;
    --billy: #E21EC7;
    --vyper: #73B740;
    --paradox: #FD99B6;
    --pocket: #6A4245;
    --lash: #145EE3;
    --viscous: #34892D;
    --holliday: #E85835;
    --infernus: #F80700;
    --sinclair: #857FBD;
    --mina: #B01A1C;
    --bebop: #6DF5BE;
    --shiv: #8B2229;
    --grey-talon: #6A8552;
    --the-doorman: #7C495A;
    --vindicta: #8AA6F6;
    --mirage: #9B7351;
}