---
import type { SvgComponent } from 'astro/types';

export interface Props {
  title: string;
  logo: string;
}

const { title, logo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro + Vue Hello World" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <img src={logo} id="logo"/>
    </header>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    margin: 0;
    background: linear-gradient(15deg, #1f2937 0%, #111827 100%);
    min-height: 100vh;
    color: #333;
  }
  
  * {
    box-sizing: border-box;
  }

  header {
    height: 100px;
    background-color: #111827;
    border-bottom: 5px solid #fbbf24;
    display: flex;
    align-items: center;
    padding: 0 15px;
  }

  #logo {
    width: auto;
    height: 70px;
    display: block;
  }
</style>