---
import type { SvgComponent } from 'astro/types';

export interface Props {
  title: string;
  logo: string;
}

const { title, logo } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro + Vue Hello World" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <title>{title}</title>
  </head>
  <body>
    <header>
      <img src={logo} id="logo"/>
      <a href="/"><h1>metatrack.ing</h1></a>
      <div id="text-nav">
        <a href="/donate"><div class="nav-button">Support Our Work</div></a>
        <div id="dropdown">
          <div class="nav-button">Games</div>
          <div id="dropdown-content">
            <a href="/overwatch">Overwatch</a>
            <!-- <a href="/mtg">Magic: The Gathering</a> -->
          </div>
        </div>
        <a href="/about"><div class="nav-button">About</div></a>
      </div>
      <!-- <select name="Games">
        <a href="/overwatch"><option>Overwatch 2</option></a>
      </select> -->
    </header>
    <slot />
  </body>
</html>

<style is:global>
  html {
    font-family: system-ui, sans-serif;
  }
  
  body {
    margin: 0;
    background: #111827;
    min-height: 100vh;
  }
  
  * {
    box-sizing: border-box;
  }

  header {
    height: 80px;
    background-color: #111827;
    border-bottom: 5px solid #fbbf24;
    align-items: center;
    padding: 0 50px 0 30px;
    width: 100%;
    display: flex;
    overflow: hidden;
  }

  #logo {
    width: auto;
    height: 60px;
    display: block;
  }

  h1 {
    padding: 0 10px 5px 10px;
    color: #fbbf24;
  }

  #text-nav {
    display: flex;
    margin-left: auto;
    color: #fbbf24;
    font-weight: 700;
    height: 100%;
  }

  a {
    text-decoration: none;
  }

  .nav-button {
    line-height: 45px;
    padding: 15px 15px;
    transition: all 0.3s ease;
    cursor: pointer;
    color: #fbbf24;
    font-size: 18px;
  }

  .nav-button:hover {
    background-color: #fbbf24;
    color: #111827;
  }

  #dropdown-content {
    display: none;
    position: absolute;
    z-index: 1;
    background-color: #374151;
  }

  #dropdown-content a {
    float: none;
    color: #fbbf24;
    padding: 15px 15px;
    display: block;
    text-align: left;
  }

  
  #dropdown-content a:hover {
    background-color: #fbbf24;
    color: #111827;
  }


  #dropdown:hover #dropdown-content {
    display: block;
  }

</style>