---
import Layout from '../layouts/Layout.astro';

import Logo from '../assets/wizard-hat-logo.svg';
---

<Layout title="MetaTrack" logo={Logo.src}>
  <main>

  </main>
</Layout>

<style>
  main {
    padding: 2rem;
    max-width: 800px;
    margin: 50px auto 0 auto;
    display: flex;
    flex-direction: row;
    gap: 100px;
  }
  
  
</style>